<nav class="brown darken-4">
    <div class="nav-wrapper">
        <a href="{{ path('auctores_blog_homepage') }}">
        {% image '@AuctoresBlogBundle/Resources/public/images/plume.png' %}
        <img style="width: 100px;vertical-align: middle;margin: 0px;" class="img" src="{{ asset_url }}"/>
        {% endimage %}
        <h2 style="font-family:vivaldi; display: inline; vertical-align: middle; ">Decade : le jeu de rôle</h2>
        </a>
    </div>
    </nav>